@import "./variables.css";
@import "./animations.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: var(--light);
  color: var(--dark);
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.grid {
  display: grid;
  gap: 2rem;
}

.grid-3 {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

button {
  cursor: pointer;
}